<%= render 'layouts/head1' %>
<title>My Datasets: DataShare - Open data for the global research community</title>
<link rel="stylesheet" href="/css/fileupload.css" type="text/css" />

<%= render 'layouts/head2' %>
<body>
<!-- begin page id -->
<div id="step-three-upload-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<!--#include virtual="includes/header-logout.html" --> 
		<%= render 'layouts/header-logout' %>
		
	  <!-- end header -->
		<!-- begin navigation-->
					<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 
			<div id="steps-container">
				<div id="step-one" >
					<div class="step-sm-off">STEP ONE:</div>
					<div class="bold-title-off">Prepare</div>
				</div>
				<div id="step-two" >
					<div class="step-sm-off">STEP TWO:</div>
					<div class="bold-title-off">Describe</div>
				</div>
				<div id="step-three" >
					<div class="step-sm-on">STEP THREE:</div>
					<div class="bold-title-on">Upload</div>
				</div>
				<div id="step-four" >
					<div class="step-sm-off">STEP FOUR:</div>
					<div class="bold-title-off">Review & Submit</div>
				</div>				
			</div>
		
			<div id="upload-content">
			<h1>Upload your dataset</h1>
				
			<div id="left-container">

			<%= form_tag "/update_dataupload/#{@record.id}" , { :multipart => true } do %>	
				
			
					<%= file_field_tag 'upload[dataupload][]', multiple: true, :class => 'dropzone' %>

				
			
			<div class="clear"></div>
			<div class="upload-button">
				<%= image_submit_tag("upload-button.gif", :alt => "Upload", :title => "Click here to upload your selected file", :class => "input-button") %>
				
				<br/>
				<% end %>
				
				
					<% if @uploads.size > 0 %>
					<div id="datauploads">
					  <div class="dataupload">				
					  	<div class="selected-files">
							<% @uploads.each do |dataupload| %>
								<div class="selected-file"><p><%= dataupload.upload_file_name %></p><td><%= link_to "delete", "/datauploads/#{dataupload.id}?no_js=1", :method=> 'delete' %></td></div>
							<% end %>
						</div>
					  </div>

					</div>
					<% end %>
				
			</div>
			<div class="clear"></div>
			<a href="/record/<%=@record.id%>/uploads">Javascript Version</a><br/>
			
				<div class="large-button-container">				
					<a href="/record/<%=@record.id%>">						
						<%= image_tag "go-back-button.png",  :size => "203x57", :alt => "Go Back and edit metadata" %>
					</a>
					<p/>
					<a href="/record/<%=@record.id%>/review">
						<%= image_tag "review-button.png",  :size => "203x57", :alt => "Review" %>
					</a>
				</div>
			
			</div>			
			
			
			
			
			<div id="right-container">
				<div id="upload-faq-container">
					<div class="upload-faq">Upload FAQ</div>
					<div class="no-bullet-points">
						<ul>
							<li>DataShare accepts all file formats </li>
							<li>If the data files are of a specialized or proprietary nature, be sure to include any pertinent information that would allow the proper viewing and/or usage of the file(s) either as a separate 'Readme' document within the data set folder, or in the 'Technical Description'.</li>
						</ul>
					</div>
				</div>
			</div>
		  </div>
		</div> <!-- end content-->
		
	<!-- begin footer-->
		<%= render 'layouts/footer' %> 
	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>